  <h1 class="display-3">My Employees Trainings</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">BossName</th>
        <th scope="col">TrainingName</th>
        <th scope="col">TrainingStatus</th>
      </tr>
    </thead>
    <tbody>
     
      <tr *ngFor="let a of myEmployeeTrainings" (click)="selectAgent(a)" (dblclick)="editUserClicked(a)">
        <th scope="row">{{a.idUser}}</th>
        <td>{{a.nameUser}}</td>
        <td>{{a.nameBoss}}</td>
        <td>{{a.nameTraining}}</td>
        <td>{{a.trainingStatus}}</td>
        <td><button  class="btn btn-danger" (click)="onApprove(a)">approve</button><button  class="btn btn-danger" (click)="onDeny(a)">Deny</button></td>
       
        
      </tr>
     
    </tbody>
  </table>
  <p *ngIf="selected">Selected: {{selected.nameUser}} {{selected.nameBoss}} {{selected.idCluster}}</p>
       