<h1>Admin</h1>
<p>This page can only be accessed by administrators.</p>
<div>
    All users from secure (admin only) api end point:
    <ul>
        <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
    </ul>
   
</div>

<h1 class="display-3">users</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">lastname</th>
      </tr>
    </thead>
    <tbody>
     
      <tr *ngFor="let user of users" (click)="selectAgent(a)" (dblclick)="editUserClicked(a)">
        <th scope="row">{{user.id}}</th>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
       
        <td><button class="btn btn-danger" (click)="deleteUser(a)">X</button></td>
      </tr>
    </tbody>
  </table>